<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projet API web</title>
    <link href="~/Styles/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<h1>
    Projet API web
</h1>
<hr />
<div>
    @RenderBody()
</div>
<br />
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h2>Vous êtes connecté en tant sur @User.Identity.Name</h2>
    @using (Html.BeginForm("SignOut", "Security", FormMethod.Post))
    {
        <button type="submit">Déconnection</button>
    }
}

</body>
</html>